streamlit
faiss-cpu
python-dotenv
pypdf
tqdm
requests
fastapi
uvicorn
langchain
langchain-community
langchain-ollama
langchain-huggingface
sentence-transformers==2.2.2
huggingface-hub==0.14.1   # pin to compatible version
