streamlit
faiss-cpu
python-dotenv
pypdf
tqdm
requests
fastapi
uvicorn

# LangChain + integrations
langchain
langchain-community
langchain-ollama
langchain-huggingface

# Embeddings
sentence-transformers
